<div id="footer-logo">
    <img id="logo" src="assets/image/page/logo.svg" alt="logo">
    <a target="blank" href="https://www.facebook.com/egondraw/">
        <fa-icon [icon]="pencil"></fa-icon>
        <p>EgonDraw</p>
    </a>

</div>

<div id="footer-contact">
    <a href="https://goo.gl/maps/w92XtoiJLihTVsZs7" target="blank">
        <fa-icon [icon]="home"></fa-icon>9938 Nagyrákos, Alsószer 37.
    </a>
    <a href="tel:+36302807521">
        <fa-icon [icon]="phone"></fa-icon>+36 30 280 7521
    </a>
    <a href="mailto:domjananetta@gmail.com">
        <fa-icon [icon]="envelope"></fa-icon>domjananetta@gmail.com
    </a>
</div>

<div id="tothadi">
    <p>Fejleszti és<br>üzemelteti:</p>
    <a target="blank" href="https://tothadi.hu">
        <fa-icon [icon]="globe"></fa-icon>
        <p>tothadi.hu</p>
    </a>
</div>