<div>
<p>Megközelítés:</p>
<a href="https://goo.gl/maps/w92XtoiJLihTVsZs7" target="blank">
    <fa-icon [icon]="home"></fa-icon>
    9938 Nagyrákos, Alsószer 37.
</a>
</div>

<div>
<p>Információ, foglalás:</p>
<a href="tel:+36302377077">
    <fa-icon [icon]="phone"></fa-icon>
    +36 30 237 7077
</a>
</div>

<div>
<p>email:</p>
<a href="mailto:konczevolgyivendeghaz@gmail.com">
    <fa-icon [icon]="envelope"></fa-icon>
    konczevolgyivendeghaz@gmail.com
</a>
</div>

<img id="contact-logo" src="assets/image/page/logo.svg" alt="logo">
