p {
    margin-bottom: .5rem;
    text-align: center;
    width: 100%;
    max-width: 800px;
}

a {
    text-align: center;
    text-decoration: none;
    color: rgba(51, 98, 46, 1);
    font-family: 'Muli', sans-serif;
}

fa-icon {
    margin-right: .5rem;
}

#contact-logo {
    margin-top: 2rem;
    width: 30%;
}