/* You can add global styles to this file, and also import other style files */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 100%;
}

html {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    overflow: overlay;
}

body {
    display: block;
    position: absolute;
    width: 95%;
    max-width: 1200px;
    font-family: "Playfair Display", sans-serif;
    text-shadow: 1px 1px 2px rgba(127, 118, 105, 1);
    top: 25vh;
}

::-webkit-scrollbar {
    height: 5px;
    width: 5px;
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar-thumb {
    background: rgba(50, 50, 50, 0.6);
    border-radius: 5px;
}

a {
    text-decoration: none;
}

app-root {
    position: relative;
    display: flex;
    align-items: center;
    flex-flow: column;
    width: 100%;
}

app-menu {
    position: fixed;
    top: 0;
    display: flex;
    flex-flow: column;
    align-items: center;
    height: 25vh;
    width: 95%;
    max-width: 1200px;
    background: url("/assets/image/page/menu.jpg") no-repeat center;
    background-size: cover;
    font-family: "Muli", sans-serif;
    z-index: 10;
    box-shadow: 5px 5px 10px rgba(50, 50, 50, 0.6);
}

app-footer {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 10vh;
    box-shadow: 5px 5px 10px rgba(50, 50, 50, 0.6);
    margin-bottom: 1vh;
    font-family: 'Muli', sans-serif;
}

app-contact,
app-home,
app-reservation,
app-page-not-found,
app-double-bed,
app-garden,
app-living-room,
app-single-bed,
app-white-room {
    position: relative;
    padding-bottom: 2rem;
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 100%;
    min-height: 64vh;
}

app-double-bed,
app-garden,
app-living-room,
app-single-bed,
app-white-room {
    min-height: 75vh;
}

app-page-not-found {
    justify-content: space-evenly;
}
