#welcome {
    margin-bottom: 2rem;
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
    justify-content: center;
}

h1 {
    margin-top: 2rem;
    font-size: 1.5rem;
    text-align: center;
    color: #5a3317;
    text-shadow: 1px 1px 2px #7f7669;
}

#welcome-logo {
    width: 30%;
}

@media only screen and (max-width: 600px) {
    h1 {
        position: absolute;
        top: 1.1rem;
        font-size: 1.1rem;
    }
    #welcome1 {
        left: 5%;
    }
    #welcome2 {
        right: 5%;
    }
    #welcome-logo {
        width: 70%;
    }
}

@media only screen and (max-width: 400px) {
    h1 {
        position: absolute;
        top: 1rem;
        font-size: 1rem;
    }
}

#intro {
    margin: auto;
    text-align: justify;
    width: 80%;
    max-width: 800px;
}

p {
    margin-bottom: 1rem;
}
