<div id="welcome">
    <h1 id="welcome1">Üdvözöljük a</h1>
    <img id="welcome-logo" src="assets/image/page/logo.svg" alt="logo">
    <h1 id="welcome2">honlapján!</h1>
</div>

<div id="intro">
    <p>Vendégházunk az Őrség szívében, Nagyrákoson várja a pihenni vágyókat.
    </p>

    <p>Három szobában, összesen (maximum) hat férőhellyel, szobánként külön fürdővel, tágas konyha/nappalival, hatalmas kerti kiülővel várjuk kedves vendégeinket.</p>

    <p>A ház csak egyben kivehető, az árat nem befolyásolja a vendégek száma.</p>
</div>